.sc-progress-bar {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.12);
}

.sc-progress-bar.hide {
  height: 0;
}

.sc-progress-indicator {
  position: absolute;
  height: 100%;
  border-radius: 2px;
  background-color: var(--accent);
  transition: width 1s ease-in-out;
}

.sc-progress-indicator.indeterminate {
  width: 100%;
  transform-origin: 0% 50%;
  animation: sc-progress-indeterminate 1s infinite linear;
}
